<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <!-- Only show the Radiobutton, if this is not the only payment method -->
    <!-- ko if: require('Magento_Checkout/js/model/payment-service').getAvailablePaymentMethods().length !== 1 -->
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label">
          <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <!-- /ko -->

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <h1 class="title__line" id="selectpaymentMethodTitle" data-bind="text: $t('Choose Payment Method')"></h1>

        <fieldset class="paymentSelectionType" id="payNowOrLater"
            data-bind="css: { 
                none: (paymentSubMethodPayNowAvailable() ? 1 : 0) + (paymentSubMethodPayLaterAvailable() ? 1 : 0) === 1
            }">
            <legend class="sr-only">Valitse henkilö- tai yritys asiointi</legend>
            <label class="radio_button payNow" for="payNow" id="payNowLabel"
              data-bind="css: { 
                    disabled: !paymentSubMethodPayNowAvailable()
                }">
                <input type="radio"
                    name="invoiceDistributionType"
                    id="payNow"
                    value="payNow"
                    class=""
                    data-bind="
                      click: function() { showPaymentMethods('payNow'), setSelected('payNow') },
                      css: { selected: isSelected('payNow') }">
                <div data-bind="text: $t('Pay Now')"></div>
            </label>
            <label class="radio_button payLater" for="payLater" id="payLaterLabel"
              data-bind="css: { 
                    disabled: !paymentSubMethodPayLaterAvailable()
                }">
                <input type="radio"
                    name="invoiceDistributionType"
                    id="payLater"
                    value="payLater"
                    class=""
                    data-bind="
                      click: function() { showPaymentMethods('payLater'), setSelected('payLater') },
                      css: { selected: isSelected('payLater') }">
                <div data-bind="text: $t('Pay Later')"></div>
            </label>
        </fieldset>

        <form data-bind="attr: {id: 'svea_' + getCode() +'-form'}, data-role: 'svea_' + getCode() + '-form'" class="form form-purchase-order" >
            <div class="svea-payment-methods" data-bind="attr: {id: 'payment_form_'+ getCode()}">
                <div class="svea-payment-methods" data-bind="foreach: {data: allMethods, as: 'smethod'} ">
                    
                    <section class="checkout__radio-container"
                        data-bind="attr: { id: ko.unwrap(smethod.code) },
                                    css: { 
                                        none: (!$parent.isSelected('payNow') && ['payment_method_subgroup_1','payment_method_subgroup_2','payment_method_subgroup_3'].indexOf(smethod.code) !== -1)
                                            || (!$parent.isSelected('payLater') && smethod.code === 'payment_method_subgroup_4')
                                    }">

                        <fieldset class="payment__button-fieldset">
                            <div class="payment__button-header"
                              data-bind="
                                click: function () { 
                                    $parent.showPaymentSubMethods(ko.unwrap(smethod.code));
                                }">
                                <!-- Title from admin configuration -->
                                <!-- ko if: smethod.title -->
                                  <legend class="sub-method-title title__line" data-bind="text: smethod.title"><hr></legend>
                                <!-- /ko -->

                                <!-- Title hardcoded with internationalization -->
                                <!-- Use these if smethod.title is undefined -->
                                <!-- ko if: smethod.code === 'payment_method_subgroup_1' && !smethod.title -->
                                  <legend class="sub-method-title title__line" data-bind="text: $t('Online Banking')"></legend>
                                <!-- /ko -->
                                <!-- ko if: smethod.code === 'payment_method_subgroup_2' && !smethod.title -->
                                  <legend class="sub-method-title title__line" data-bind="text: $t('Mobile Payment')"></legend>
                                <!-- /ko -->
                                <!-- ko if: smethod.code === 'payment_method_subgroup_3' && !smethod.title -->
                                  <legend class="sub-method-title title__line" data-bind="text: $t('Card')"></legend>
                                <!-- /ko -->
                                <!-- ko if: smethod.code === 'payment_method_subgroup_4' && !smethod.title -->
                                  <legend class="sub-method-title title__line" data-bind="text: $t('Pay Later')"></legend>
                                <!-- /ko -->
                                
                                <!-- Title icons -->
                                <div class="payment__button-header-icons"
                                    data-bind="css: { none: ($parent.paymentSubMethodsOnlyAvailablePerGroup(ko.unwrap(smethod.code))) }">
                                <!-- ko if: smethod.code === 'payment_method_subgroup_1' -->
                                  <!-- ko foreach: $parent.getTopImages(smethod, ['FI01','FI02','FI06']) -->
                                    <img data-bind="attr: { src: imageurl, alt: displayname }" />
                                  <!-- /ko -->
                                <!-- /ko -->
                                <!-- ko if: smethod.code === 'payment_method_subgroup_2' -->
                                  <!-- ko foreach: $parent.getTopImages(smethod, ['FI54','SIIR']) -->
                                    <img data-bind="attr: { src: imageurl }" />
                                  <!-- /ko -->
                                <!-- /ko -->
                                <!-- ko if: smethod.code === 'payment_method_subgroup_3' -->
                                  <!-- ko foreach: $parent.getTopImages(smethod, ['FI50','FI52']) -->
                                    <img data-bind="attr: { src: imageurl }" />
                                  <!-- /ko -->
                                <!-- /ko -->
                                <!--<img data-bind="attr: { src: ko.unwrap(smethod.methods)[0].imageurl, alt: ko.unwrap(smethod.methods)[0].displayname }" />-->
                                </div>
                            </div>
                            <div class="payment__button-set" aria-expanded="false"
                              data-bind="css: { none: (!$parent.paymentSubMethodsOnlyAvailablePerGroup(ko.unwrap(smethod.code))) }">
                                <!-- ko foreach: smethod.methods -->
                                <div class="payment-method">
                                    <label class="payment-method-label"
                                        data-bind="attr: { for: identifier, title: displayname },
                                                    css: {'radio-active': (code == $parents[1].selectedMethod()) }
                                                    ">
                                        <input class="payment-method-radio"
                                        type="radio"
                                        data-bind="
                                            attr: { id: identifier, name: identifier },
                                            css: {'radio-active': (code == $parents[1].selectedMethod()) },
                                            value: code,
                                            event:{ click: $parents[1].selectMethod.bind($parents[1], $parent) }"
                                        tabindex="0"
                                        data-validate="{required:true}">
                                          <img data-bind="attr: { src: imageurl, alt: displayname }"/>
                                        </input>
                                    </label>
                                </div>
                                <!-- /ko -->
                            </div>
                        </fieldset>
                    </section>
                </div>
            </div>
        </form>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->

            <div class="svea-method-terms">
                <!-- ko if: getTermsUrl() -->
                <a data-bind="attr: { href: getTermsUrl() }" target="_blank">
                    <span data-bind="text: getTermsText()"></span>
                </a>
                <!-- /ko -->
            </div>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {'title': $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isOrderButtonActive()}
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
